* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    min-height: 100%;
}

body {
    background: url("https://i1.glitter-graphics.org/pub/622/622111xgi1w5uxly.gif") no-repeat center center fixed;
    background-size: 100% 100%;
    color: white;
}

.aboutimg {
    width: 15%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.blinkie {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 1.3rem;
}

.tiny {
    height: 2rem;
}

.textimg {
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    padding-bottom: 0;
    margin-bottom: 0.4rem;
}