* {
    cursor: default;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.top {
    background-color: black;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 25rem;
    gap: 1rem;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.pad {
    padding: 1rem;
    height: max-content;
}

.bg1 {
    background-color: #101010;
}

.bg2 {
    background-color: #202020;
}

button {
    color: white;
    background-color: transparent;
    border: none;
}

button:hover {
    font-weight: bolder;
    font-style: italic;
}

.boldhover {
    font-weight: bold;
}

.boldhover:hover {
    font-weight: 900;
    font-style: italic;
}

.title {
    padding-top: 1rem;
    text-shadow: #ffffffaa 0px 0px 5px;
}

ol {
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}

ul {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    list-style: none;
}

.blogbody {
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ffffff50 solid 1px;
}

.blogtitle {
    font-weight: bolder;
    margin-left: -0.5rem;
}

.blogimg {
    width: 20rem;
}

.navimg {
    width: 1.5rem;
}