@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    cursor: default;
    color: black;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homepage p {
    text-align: right;
}

.centre {
    position: relative;
}

.centre img {
    width: 20vh;
}

.labels a {
    position: absolute;
    font-size: 1rem;
}

.labels .top {
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.labels .bottom {
    bottom: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.labels .left {
    left: -5rem;
    top: 50%;
    transform: translateX(-50%);
    text-align: right;
}

.labels .right {
    right: -7rem;
    top: 50%;
    transform: translateX(-50%);
    text-align: left;
}

.main {
    padding: 1rem;
    margin: 0;
}

.blogentry {
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom:2rem;
    width: auto;
}

.blogentry p, .blogentry pre {
    padding: 0;
    margin: 0;
}